<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>VueTodo</title>
    <script src="vue.min.js"></script>
    <style>
      .done-true {
        text-decoration: line-through;
        color: grey;
      }
    </style>
  </head>
  <body>
    <h2>Vue.js Todo</h2>
    <div id="todos">
        <input type="text" v-model="new_name">
        <button v-on="click: newTodo">New</button>
      <li v-repeat="todos" v-component="todo" v-with="editingTodo : editingTodo">
      </li>
    </div>
    <script type="text/x-template" id="todo-template">
      <!--通常表示するビュー-->
      <div v-show="this != editingTodo" v-on="click: editTodo(this)">
        {{ $index }}{{name}}{{validation.name}}
      </div>
      <!--編集時に表示するビュー-->
      <div v-show="this == editingTodo">
        <input type="text" v-model="name | nameValidator"  v-on="blur : editedTodo(this)">
      </div>
      <li v-show="!validation.name">{{ $index }}{{ name }}Content cannot be empty.</li>
    </script>
    <script src="store.js"></script>
    <script src="validators.js"></script>
    <script src="app.js"></script>
  </body>
</html>

